<ion-content style="background-color: 3633ff;">
  <ion-card style="width: 80%; margin: auto;">
    <ion-card-content>
      <ion-avatar  style="margin: auto;">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </ion-card-content>
    <ion-card-content>
        César Machorro Pérez
    </ion-card-content>
    <ion-card-content>
        Desarrollador de aplicaciones y moviles
    </ion-card-content>
    <ion-card-content>
        Profesional respecto al trato de personas
    </ion-card-content>

  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Imagenes</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="camera-outline" size="large"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Proyectos</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="bulb-outline" size="large"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Conocimientos</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="book-outline" size="large"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Ligas</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="cloud-outline" size="large"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
