<ion-content style="background-color: 3633ff;">
  <ion-card style="width: 80%; margin: auto;">
    <ion-card-content>
      <ion-avatar  style="margin: auto;">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </ion-card-content>
    <ion-card-content>
      <ion-label for="" >
        César Machorro Pérez
      </ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-label for="" >
        Desarrollador de aplicaciones y moviles
      </ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-label for="" >
        Profesional respecto al trato de personas
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-icon name="baseball-outline" size="large"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-icon name="bulb-outline" size="large"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-icon name="book-outline" size="large"></ion-icon>

          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-icon name="cloud-outline" size="large"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-icon name="color-filter-outline" size="large"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-icon name="extension-puzzle-outline" size="large"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
